* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Pretendard";
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
}

a {
  text-decoration: none;
}

.logo-wrap img {
  width: 170px;
  height: 80px;
}

.logout-btn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logout-btn a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.logout-btn a:hover {
  opacity: 0.8;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* -------------------- 왼쪽 고정 nav ------------------- */
.left-nav {
  position: fixed;
  top: 84px;
  left: 0;
  height: 100vh;
  padding: 20px;
}

.left-nav ul li {
  list-style-type: none;
  margin-bottom: 30px;
}

.left-nav .change-page-report {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #1bcad3;
  border-radius: 10px;
}


.left-nav .change-page-member {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  background-color: black;
  border-radius: 10px;
}


/* -------------- 게시글 목록 ----------------- */
.board-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: 10px;
}

.board-contents-title {
  font-weight: bold;
  background-color: rgba(200, 200, 200, 0.4);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 5px 0;
}

.board-list-number,
.board-number {
  width: 15%;
}

.board-list-title,
.board-title {
  width: 40%;
}

.board-list-title {
  color: black;
}

.board-list-author,
.board-author {
  width: 20%;
}

.board-list-date,
.board-date {
  width: 25%;
}

.board-list {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 5px 0;
}

.member-contents-title {
  font-weight: bold;
  background-color: rgba(200, 200, 200, 0.4);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 5px 0;
}

.member-list-number,
.member-number {
  width: 10%;
}

.member-list-id,
.member-id {
  width: 30%;
}

.member-list-id {
  color: black;
}

.member-list-author,
.member-author {
  width: 20%;
}

.member-list-status,
.member-status {
  width: 20%;
}

.member-list-control,
.member-control {
  width: 20%;
}

.member-list {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 5px 0;
}

.control-btn {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  color: white;
}

.report-contents-wrap {
  display: none;
}

.report-content p {
  padding: 20px;
}

.report-btn-wrap {
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 10px;
}

.report-btn-wrap a {
  color: black;
}

.report-btn-wrap button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  background-color: white;
}

.report-btn-wrap button:hover {
  opacity: 0.5;
}

/* 페이징 처리 */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination > ul {
  display: flex;
  list-style: none;
}

.pagination a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: #1bcad3;
  border-color: #1bcad3;
  color: #fff;
}

.pagination .active {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

/* ------------ Footer ---------------- */

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  /* background-color: ; */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.change-store,
.change-sns{
	cursor:pointer;
	width: fit-content;
	/* display:none; */
}

.click{
	background : gray;
	color : white;
}

li{
	list-style : none;
}

/* 검색 창 */
.search-wrap {
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

/* 검색 버튼 */
.search-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  color: white;
}

#modal {
  width: 70%;
  height: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.modal-box {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.modal-background {
  /* display: flex; */
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-img {
  background-color: aliceblue;
  color: black;
  height: 600px;
  width: 600px;
  position: relative;
}

li {
  list-style-type: none;
}
/* 모달창 사진 이전, 다음버튼  */
.post-img-prev,
.post-img-next {
  position: absolute;
  top: 50%;
  background-color: rgb(200, 200, 200);
  color: black;
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-radius: 100%;
  border: 0;
  opacity: 0.7;
}

.post-img-prev:hover {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(42, 197, 198);
  opacity: 0.7;
}

.post-img-next:hover {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(42, 197, 198);
  opacity: 0.7;
}

.post-img-prev {
  left: 10px;
}

.post-img-next {
  right: 10px;
}

/* @@@@ 게시글 이전, 다음 버튼 @@@@ */
.post-prev,
.post-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-radius: 100%;
  border: 0;
  z-index: 1;
}

.post-prev:hover {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(42, 197, 198);
}

.post-next:hover {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(42, 197, 198);
}

.post-prev {
  left: 20px;
}

.post-next {
  right: 20px;
}

/* 슬라이드 박스 영역 */

.slide-box {
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.slides-wrap {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid gray;
}

/* 모달 댓글 영역 게시글 작성자 뜨는곳  */

.host-profile {
  width: 100%;
  height: 10%;
  display: flex;
}

.host-profile-img-box {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.host-name-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.host-name {
  font-size: 20px;
  font-weight: 600;
}

/* 모달 댓글 영역 게시글 작성자 뜨는 곳 끝 */


/* @@@@@@ 댓글 영역 @@@@@@@@@ */

.comment-container {
  background-color: white;
  color: black;
  width: 40%;
  height: 600px;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.comment-wrap {
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid rgb(241, 241, 241);
  min-height: 20%;
  height: max-content;
}

.comment-list {
  height: 75%;
  overflow-y: scroll;
  background-color: white;
  border-bottom: 1px solid rgb(241, 241, 241);
}

/* 댓글 영역 스크롤바 안보이게 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.comment-member-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}

.comment-member-info {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
}

.comment-content-wrap {
  width: 90%;

  font-size: 13px;
  font-weight: 400;
  margin: 0 10px;
  min-height: 50%;
  height: max-content;
  word-break: break-all;
  padding: 5px;
}

.host-comment-content-wrap {
  border-bottom: 1px solid rgb(241, 241, 241);
  font-size: 13px;
  font-weight: 400;

  height: max-content;
  word-break: break-all;
  padding: 10px 15px;
}

.comment-member-profile {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-member-name {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 500;
}

.comment-option {
  width: 30%;
  height: 100%;
 
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.comment-edit-option {
  width: 30%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}

.comment-edit,
.comment-delete,
.comment-modify {
  background-color: white;
  border: none;
  color: #5b696f;
  cursor: pointer;
}

.comment-write {
  font-size: 20px;
  margin-left: 10px;
  word-wrap: break-word;
  background-color: white;
  color: black;
}

.comment-profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-like-date {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.before-like-btn {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

.after-like-btn {
  width: 35px;
  height: 35px;
  display: none;
}

.like-cnt {
  margin: 3px;
  font-weight: 500;
}
.post-view-cnt-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-cnt {
  margin-left: 5px;
}

.post-date {
  margin-right: 5px;
}

.mini-post-content {
  display: flex;
  height: 7%;
  border-top: 1px solid rgb(241, 241, 241);
}

.submit {
  background-color: white;
  width: 20%;
  color: #5b696f;
  border: none;

  border-bottom-right-radius: 5px;
  height: 107%;
  cursor: pointer;
}

.comment-box {
  width: 100%;
  border: none;
  text-indent: 10px;
}

.comment-date {
  width: 90%;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
}

/* @@@@@@ 댓글 영역 끝 @@@@@@@@@ */

.modal-profile-btn-box {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.modal-profile-btn-box span {
  margin-top: 5px;
  color: white;
}

/* 모달 파트 끝 */

.go-member-btn{
	cursor : pointer;
}

/* 스토어 모달 */
.s-post-modal-box {
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: blue;
}
.s-post-modal {
  display: none;
  width: 95%;
  height: 10px;
  /* background-color: black; */
  position: fixed;
  margin: auto;
  margin-top: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  /* display: flex; */
}

.s-post-box {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  height: max-content;
}

.s-post-header-container {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
}

.s-post-header-box {
  width: 95%;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
}

.s-post-header {
  width: 60%;
}

.s-post-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  word-break: break-all;
}

.s-post-date-categori-box {
  width: 60%;
  height: 32px;
  display: flex;
  align-items: center;
}

.s-post-date-categori-box > div {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(78, 84, 84);
}

.s-post-information {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.s-post-view-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.s-post-like-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.s-post-comment-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.s-view-cnt,
.s-p-like-cnt,
.s-comment-cnt {
  margin-top: 10px;
}

.s-post {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  padding: 30px 0;
}

.s-post > img {
  /* post안에 들어가는 img 최대 크기 설정 */
  max-width: 100%;
  max-height: 100%;
}
/* .post-comment-box {
  width: 100%;
  height: max-content;
  border: 1px solid black; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
 */
.s-post-modal-background {
  /* display: flex; */
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @@@@댓글 창 @@@@@@ */
.s-post-comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}
.s-comment-container {
  height: max-content;
  width: 90%;
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 50px;
}
.s-commentL{
	width: 100%
}

.s-comment-list {
  display: flex;
  align-items: center;

  width: 100%;
  height: 123px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.s-comment-user-profile-shortcuts {
  width: 47px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
}

.s-comment-user-profile-wrap img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.s-comment-member-info {
  height: 17px;
  display: flex;
}

.s-member-id {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.s-comment-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(124, 132, 132);
  width: 50px;
  display: flex;
  align-items: center;
}

.s-box {
  width: 10px;
  height: 100%;
}

.s-height-box {
  width: 100%;
  height: 10px;
}

.s-text-wrap {
  width: 85%;
  height: 123px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.s-comment-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(44, 48, 48);
  white-space: pre-line;
}
.s-write-area {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
.s-comment-profile-container {
  width: 64px;
  height: 124px;
  margin: 0 20px;
}

.s-comment-profile-wrap {
  display: flex;
}

.s-user-profile-wrap {
  display: flex;
  justify-content: center;
}

.s-user-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.s-comment-input-box {
  width: 95%;
  height: 124px;
}
.s-comment-input-area {
  width: 95%;
  padding: 10px;
  min-height: 120px;
  border: 1px solid rgb(240, 245, 245);
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.5px;
  outline-style: none;
  /* border: 1px solid rgb(219, 222, 226); */
}

.s-submit-btn-box {
  width: 91%;
  height: 70px;
  display: flex;
  /* -webkit-box-pack: end; */

  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.s-comment-submit-btn {
  background-color: white;
  width: 100px;
  height: 42px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(228, 232, 232);
  color: rgb(44, 48, 48);
  cursor: pointer;
  text-align : center;
}

.s-post-img{
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
}

.s-post-img img{
	margin : 20px 0;
}

.s-post-content {
	text-align : center;
	margin-top : 100px;
	margin-bottom : 80px;
}