* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

body {
  background-color: #f9fafb;
}

.logo_img {
  width: 200px;
}

.main-container {
  display: flex;
}

.main-container__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.logo_img {
  width: 350px;
}

.login-container__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
}

.login-container__wrapper {
  background-color: white;
  padding: 150px 100px;
  border-radius: 30px;
}

.login__manager-text {
  padding-bottom: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.login-form__container {
  display: flex;
  justify-content: center;
}

.login-form__box {
  border: 1px solid grey;
  width: 300px;
  height: 24px;
  border-radius: 4px;
  padding: 10px 10px;
}

.login_btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 15px 141px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.login_btn:hover {
  background-color: rgb(60, 60, 60);
}

.login-form p {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-form__input-box {
  margin-top: 20px;
}
