@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

/* @@@@@헤더@@@@@ */

input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #5b696f;
}
font {
  color: #5b696f;
  cursor: default;
}
.container-wrap {
  /* background-color: beige; */
  width: 100vw;
  height: 100%;
}

.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.start-container a:hover {
  color: rgb(42, 197, 198);
}

.logo-img {
  width: 140px;
  height: 40px;
}

.search {
  display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: relative;
}
.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.my-page {
  display: none;
}

/* @@@@@@전체 감싸는 div@@@@@ */

.container {
  display: flex;
  justify-content: center;
  align-items: inherit;
  padding: 100px;
  width: 100%;
  flex-direction: column;
}

/* @@@@@구매 테이블@@@@@ */

.basket-table {
  /* width: 100%; */
  height: 30px;
  font-size: 25px;
  margin: 20px;
  padding-left: 5px;
}

/* 
table{
  border-collapse: collapse;
  text-align: center;
  width: auto;
  height: 50px;
  padding: 28px;
} */

table,
td,
th {
  border-collapse: collapse;
  text-align: center;
  width: auto;
  height: 50px;
  padding: 28px;
  color: #5b696f;
}

.board-table {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.basket-img img {
  width: 80px;
  height: 80px;
}

.board-table td {
  border-top: 1px solid #ddd;
}

.board-table th {
  font-weight: bold;
  /* background-color: #f0f0f0; */
}

.delete-order {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.check-product {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.pay-table {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.pay-table td {
  border-top: 1px solid #ddd;
}

.pay-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 100px 0px;
}

/* .total-pay{
  width: 45%;
} */

.total-pay,
.total-pay-th {
  padding-left: 70px;
}

.pay-all,
.pay-check {
  margin: 10px;
}

button {
  width: 100px;
  height: 40px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
}

.buy-cnt-input{
  width: 25px;
}

.buy-cnt-button{
  width: 40px;
  height: 20px;
}

.buy-cnt{
  padding: 12px 0;
    border-top: 1px solid #fff;
    color: #353535;
    line-height: 18px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}

/* 수량 변경 버튼 */
.quantity-input{
  width: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

.quantity-wrap{
  display: flex;
  flex-direction: row;
}

.buy-cnt{
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 120px;
}

.plus-btn, .minus-btn{
  width: 20px;
  height: 20px;
}

.modify-wrap{
  margin-left: 12px;
}

.modify-btn{
  width: 40px;
  height: 26px;
}


/* #######footer####### */
.footer-container {
  width: 100%;
  height: 200px;
  /* background-color: ; */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}