* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

body {
  min-width: 340px;
  height: 100%;
}

main {
  background: #f9fafb;
  width: 100%;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin: 100px 0;
  position: relative;
  background-color: #fff;
  border-radius: 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 578px;
  width: 640px;
  padding: 48px 149px;
  justify-content: center;
  align-items: center;
}

.main-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container > h1 {
  font-size: 20px;
}

.input {
  width: 100%;
  margin-top: 32px;
}

.input > label {
  font-size: 14px;
  font-weight: 700;
}

.input > input {
  width: 316px;
}

.login-btn {
  margin-top: 40px;
}

.login-btn button {
  width: 340px;
  height: 40px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

input {
  margin-top: 8px;
  padding: 10px 12px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img {
  height: 100%;
  width: 100%;
}

.login-find-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #0d0d0d;
}

.login-keep-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.login-keep-container input {
  margin-top: 0;
  /* margin-right: 8px; */
  cursor: pointer;
}

.login-keep-container label {
  cursor: pointer;
  padding-left: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.find-container {
  padding-top: 20px;
}

.join {
  margin-top: 30px;
  font-size: 14px;
}
