@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

/* #######header####### */

input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #5b696f;
}
font {
  color: #5b696f;
  cursor: default;
}
.container-wrap {
  /* background-color: beige; */
  width: 100vw;
  height: 100%;
}

.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
}

.start-container a:hover {
  color: rgb(42, 197, 198);
}

.logo-img {
  width: 140px;
  height: 40px;
}

.pandang-container{
	margin-left : 20px;
}

.header-list{
	margin : 0 20px;
}

.search {
  display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  display : flex;
}

/* #######main####### */

/* #####hot-creater##### */
.hot-creater {
  width: 100%;
  height: 320px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.hot-creater-title-wrap {
  margin: 20px;
}

.hot-creater-title {
  font-size: 25px;
  font-weight: bolder;
}

.hot-creater-sub-title {
  font-size: 18px;
}

.hot-creater-profil-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 50px;
  align-items: center;
}

.hot-creater-profil {
  width: 300px;
  height: 300px;
  /* background-color: darkslateblue; */
  border-radius: 10px;
  margin: 15px;
  /* cursor: pointer; */
  filter: brightness(1);
  border: 1px solid #ccc;
  /* flex-wrap: wrap; */
  min-width: 300px;
  min-height: 300px;
}

.profil-photo img:hover {
  filter: brightness(0.5);
}

.profil-photo img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  filter: brightness(1);
}

.profil-photo {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.profil-info-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  font-weight: bold;
}

.profile-info {
  margin-top: 18px;
}

.profil-comment {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.profil-channel-name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

button {
  all: unset;
  cursor: pointer;
}

.profil-follow-btn {
  margin-top: 5px;
}

.hot-creater-profil-all {
  display: flex;
  width: 1320px;
  align-items: center;
  justify-content: center;
}

.slides-wrap {
  width: 1320px;
  height: 330px;
  /* border: 1px solid black; */
  /* z-index: 10; */
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}

.slide-img {
  width: 1320px;
  height: 330px;
}

.slide-box {
  display: flex;
  position: absolute;
  left: 0;
}

.prev {
  left: 0;
  cursor: pointer;
}

.next {
  right: 0;
  cursor: pointer;
}

/* #####store##### */
.store-content {
  width: 100%;
  height: max-content;
}

.store-text-wrap {
  font-size: 35px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-top: 80px;
}

.store-nav-wrap {
  display: flex;
  /* margin: 15px; */
  padding-bottom: 24px;
  padding-left: 6px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.store-nav-wrap span {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(78, 84, 84);
}

.store-nav-wrap li {
  list-style: none;
  float: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(78, 84, 84);
}

.store-nav-wrap li::after {
  content: "|";
  float: right;
  color: rgb(200, 200, 200);
  margin-right: -15px;
  font-weight: 500;
}

.store-nav-wrap li:last-child::after {
  content: "";
}

.store-wrap {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  display: none;
  position: relative;
}

.store-photo {
  margin-top: 10px;
}

.store-photo-img {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  position: relative;
}

.store-photo-img img {
  width: 100%;
  height : 100%;
  border-radius: 10px;
}

.store-info {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  display: none;
}

.store-photo-img:hover div.store-info {
  display: block;
  /* position: relative; */

  /* top: 0;
  left: 0; */
}

.store-info-tap {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  margin: -5px 15px 0px 15px;
  color: #ccc;
}

.store-info-tap span {
  margin-bottom: 4px;
}

img.before-like-btn {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 3px;
  /* z-index: 1; */
}

img.after-like-btn {
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
  margin-top: 3px;
}

.store-info-channel {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  color: rgb(124, 132, 132);
  margin: 0px 15px;
  margin-bottom: 15px;
}

.cnt-wrap {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 15px;
}

.cnt-view {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 51px;
  align-items: center;
  height: 100%;
}

.cnt-like {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 48px;
  align-items: center;
  height: 100%;
}

.cnt-like-icon {
  pointer-events: none;
}

.material-symbols-outlined {
  position: relative;
  top: 2px;
  color: rgb(124, 132, 132);
}

/* @@@ 스토어 탭 이동@@@*/
.tabs {
  display: flex;
}

.tabs .tab {
  font-size: 20px;
  color: rgb(78, 84, 84);
  font-weight: bold;
  width: 110px;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.store-wrap.active {
  display: inline-block;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-wrap-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  /* min-width: 1324px;
  max-width: 1649px; */
  /* 4개씩 3줄 띄우는 칸으로 변경하고 싶으면  
  width: 100%;를 주석처리 하고
  min-width: 1324px;
  max-width: 1649px;
  를 살리면 됨
  */
}

/* 모달창 스타일 */
/* .modal-box {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
} */

/* 모달창의  store-box*/

/* .store-box {
  background-color: aliceblue;
  color: black;
  width: 80vw;
  height: 40vw;
  position: relative;
} */

/* #######footer####### */
.footer-container {
  width: 100%;
  height: 200px;
  /* background-color: ; */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}


/* 모달창 시작부분 */


.post-modal-box {
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: blue;
}
.post-modal {
  display: none;
  width: 95%;
  height: 10px;
  /* background-color: black; */
  position: fixed;
  margin: auto;
  margin-top: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  /* display: flex; */
}

.post-box {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  height: max-content;
}

.post-header-container {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
}

.post-header-box {
  width: 95%;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
}

.post-header {
  width: 60%;
}

.post-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  word-break: break-all;
}

.post-date-categori-box {
  width: 60%;
  height: 32px;
  display: flex;
  align-items: center;
}

.post-date-categori-box > div {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(78, 84, 84);
}

.post-information {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post-view-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.post-like-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.post-comment-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.view-cnt,
.p-like-cnt,
.comment-cnt {
  margin-top: 10px;
}

.post {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  padding: 30px 0;
}

.post > img {
  /* post안에 들어가는 img 최대 크기 설정 */
  max-width: 100%;
  max-height: 100%;
}
.post-comment-box {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-background {
  /* display: flex; */
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @@@@댓글 창 @@@@@@ */
.post-comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}
.comment-container {
  height: max-content;
  width: 90%;
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 50px;
}
.comment-list {
  display: flex;
  align-items: center;

  width: 100%;
  height: 123px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.comment-user-profile-shortcuts {
  width: 47px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
}

.comment-user-profile-wrap img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment-member-info {
  height: 17px;
  display: flex;
}

.member-id {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.comment-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(124, 132, 132);
  width: 50px;
  display: flex;
  align-items: center;
}

.box {
  width: 10px;
  height: 100%;
}

.height-box {
  width: 100%;
  height: 10px;
}

.text-wrap {
  width: 85%;
  height: 123px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(44, 48, 48);
  white-space: pre-line;
}
.write-area {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
.comment-profile-container {
  width: 64px;
  height: 124px;
  margin: 0 20px;
}

.comment-profile-wrap {
  display: flex;
}

.user-profile-wrap {
  display: flex;
  justify-content: center;
}

.user-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment-input-box {
  width: 95%;
  height: 124px;
}
.comment-input-area {
  width: 95%;
  padding: 10px;
  min-height: 120px;
  border: 1px solid rgb(240, 245, 245);
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.5px;
  outline-style: none;
  /* border: 1px solid rgb(219, 222, 226); */
}

.submit-btn-box {
  width: 91%;
  height: 70px;
  display: flex;
  /* -webkit-box-pack: end; */

  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.comment-submit-btn {
  background-color: white;
  width: 100px;
  height: 42px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(228, 232, 232);
  color: rgb(44, 48, 48);
  cursor: pointer;
}

/* @@@@@@@ 모달창 프로필 hover시 나오는 모달@@@@@@@@ */

.profile-path {
  width: 300px;
  height: 330px;
  position: absolute;
  z-index: 2;
  background-color: white;
  top: -18px;
  right: 95px;
  border-radius: 5px;
  display: none;
}

.profile-path:hover {
  display: block;
}

.profile-modal-img-box,
.profile-modal-member,
.profile-modal-follow-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-modal-img-box {
  width: 100%;
  height: 200px;
}

.profile-modal-img-box a {
  display: flex;
}

.profile-modal-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal-img-background {
  background-color: rgba(248, 248, 248, 0.499);
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
}

.profile-modal-member {
  width: 100%;
  height: 50px;
}

.profile-modal-member a {
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
  font-size: 20px;
  color: rgb(44, 48, 48);
}

.profile-modal-member a:hover {
  color: rgba(44, 48, 48, 0.5);
}

.modal-follow-btn-box {
  width: 100%;
  height: 50px;
}

.profile-modal-follow-btn {
  width: 270px;
  height: 46px;
  border-radius: 25px;
  border: 1px solid rgb(228, 232, 232);
  background-color: rgb(42, 197, 198);
  color: white;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  display: block;
}
.profile-modal-following-btn {
  width: 270px;
  height: 46px;
  border-radius: 25px;
  border: 1px solid rgb(228, 232, 232);
  background: rgb(42, 197, 198, 0.05);
  color: rgb(42, 197, 198);
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#following {
  font-size: 14px;
  margin-top: 3px;
  margin-left: 5px;
  font-weight: 300;
}

.profile-modal-follow-btn:hover {
  background: rgba(42, 198, 198, 0.5);
}

.post-btn-box-wrap {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: beige; */
  margin-top: 20px;
  position: fixed;
  right: 20px;
}

#edit,
#delete {
  display: none;
}

.author-info:hover .author-img-back {
  display: block;
}

.author-img-back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.author-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.btn-wrap-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.post-btn-box {
  width: 56px;
  height: 96px;
  margin-bottom: 20px;
}

.post-btn-box button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background: none rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-list {
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.add {
  display: flex;
}

.done {
  display: none;
  color: rgb(42, 197, 198);
}

.btn-color:hover {
  color: rgb(42, 197, 198);
}

.like-btn-color:hover {
  color: red;
}


