@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

/* #######header####### */

input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #5b696f;
}
font {
  color: #5b696f;
  cursor: default;
}
.container-wrap {
  /* background-color: beige; */
  width: 100vw;
  height: 100%;
}

.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
}

.start-container a:hover {
  color: rgb(42, 197, 198);
}

.logo-img {
  width: 140px;
  height: 40px;
}

.pandang-container{
	margin-left : 20px;
}

.header-list{
	margin : 0 20px;
}

.search {
  display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  display : flex;
}

/* #######main####### */

/* #####hot-creater##### */
.hot-creater {
  width: 100%;
  height: 320px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.hot-creater-title-wrap {
  margin: 20px;
}

.hot-creater-title {
  font-size: 25px;
  font-weight: bolder;
}

.hot-creater-sub-title {
  font-size: 18px;
}

.hot-creater-profil-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 50px;
  align-items: center;
}

.hot-creater-profil {
  width: 300px;
  height: 300px;
  /* background-color: darkslateblue; */
  border-radius: 10px;
  margin: 15px;
  /* cursor: pointer; */
  filter: brightness(1);
  border: 1px solid #ccc;
  /* flex-wrap: wrap; */
  min-width: 300px;
  min-height: 300px;
}

.profil-photo img:hover {
  filter: brightness(0.5);
}

.profil-photo img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  filter: brightness(1);
}

.profil-photo {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.profil-info-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  font-weight: bold;
}

.profile-info {
  margin-top: 18px;
}

.profil-comment {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.profil-channel-name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

button {
  all: unset;
  cursor: pointer;
}

.profil-follow-btn {
  margin-top: 5px;
}

.hot-creater-profil-all {
  display: flex;
  width: 1320px;
  align-items: center;
  justify-content: center;
}

.slides-wrap {
  width: 1320px;
  height: 330px;
  /* border: 1px solid black; */
  /* z-index: 10; */
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
}

.slide-img {
  width: 1320px;
  height: 330px;
}

.slide-box {
  display: flex;
  position: absolute;
  left: 0;
}

.prev {
  left: 0;
  cursor: pointer;
}

.next {
  right: 0;
  cursor: pointer;
}

/* #####store##### */
.store-content {
  width: 100%;
  height: max-content;
}

.store-text-wrap {
  font-size: 35px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-top: 80px;
}

.store-nav-wrap {
  display: flex;
  /* margin: 15px; */
  padding-bottom: 24px;
  padding-left: 6px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.store-nav-wrap span {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(78, 84, 84);
}

.store-nav-wrap li {
  list-style: none;
  float: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(78, 84, 84);
}

.store-nav-wrap li::after {
  content: "|";
  float: right;
  color: rgb(200, 200, 200);
  margin-right: -15px;
  font-weight: 500;
}

.store-nav-wrap li:last-child::after {
  content: "";
}

.store-wrap {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  display: none;
  position: relative;
}

.store-photo {
  margin-top: 10px;
}

.store-photo-img {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  position: relative;
}

.store-photo-img img {
  width: 100%;
  border-radius: 10px;
}

.store-info {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  display: none;
}

.store-photo-img:hover div.store-info {
  display: block;
  /* position: relative; */

  /* top: 0;
  left: 0; */
}

.store-info-tap {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  margin: -5px 15px 0px 15px;
  color: #ccc;
}

.store-info-tap span {
  margin-bottom: 4px;
}

img.before-like-btn {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 3px;
  /* z-index: 1; */
}

img.after-like-btn {
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
  margin-top: 3px;
}

.store-info-channel {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  color: rgb(124, 132, 132);
  margin: 0px 15px;
  margin-bottom: 15px;
}

.cnt-wrap {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 15px;
}

.cnt-view {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 51px;
  align-items: center;
  height: 100%;
}

.cnt-like {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  width: 48px;
  align-items: center;
  height: 100%;
}

.cnt-like-icon {
  pointer-events: none;
}

.material-symbols-outlined {
  position: relative;
  top: 2px;
  color: rgb(124, 132, 132);
}

/* @@@ 스토어 탭 이동@@@*/
.tabs {
  display: flex;
}

.tabs .tab {
  font-size: 20px;
  color: rgb(78, 84, 84);
  font-weight: bold;
  width: 110px;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.store-wrap.active {
  display: inline-block;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-wrap-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  /* min-width: 1324px;
  max-width: 1649px; */
  /* 4개씩 3줄 띄우는 칸으로 변경하고 싶으면  
  width: 100%;를 주석처리 하고
  min-width: 1324px;
  max-width: 1649px;
  를 살리면 됨
  */
}

/* 모달창 스타일 */
.modal-box {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* 모달창의  store-box*/

.store-box {
  background-color: aliceblue;
  color: black;
  width: 80vw;
  height: 40vw;
  /* padding: 20px; */
  position: relative;
}

/* #######footer####### */
.footer-container {
  width: 100%;
  height: 200px;
  /* background-color: ; */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}