/* 모달창 스타일 */
.modal-box {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* 모달창의  store-box*/

.store-box {
  background-color: aliceblue;
  color: black;
  width: 80vw;
  height: 40vw;
  /* padding: 20px; */
  position: relative;
}





/* @@@@@@@@@ 모달 영역 @@@@@@@@@ */
.post-modal-box {
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: blue;
}
.post-modal {
  display: none;
  width: 95%;
  height: 10px;
  /* background-color: black; */
  position: fixed;
  margin: auto;
  margin-top: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  /* display: flex; */
}

.post-box {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  height: max-content;
}

.post-header-container {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
}

.post-header-box {
  width: 95%;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
}

.post-header {
  width: 60%;
}

.post-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  word-break: break-all;
}

.post-date-categori-box {
  width: 60%;
  height: 32px;
  display: flex;
  align-items: center;
}

.post-date-categori-box > div {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(78, 84, 84);
}

.post-information {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post-view-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.post-like-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.post-comment-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.view-cnt,
.p-like-cnt,
.comment-cnt {
  margin-top: 10px;
}

.post {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  padding: 30px 0;
}

.post > img {
  /* post안에 들어가는 img 최대 크기 설정 */
  max-width: 100%;
  max-height: 100%;
}
.post-comment-box {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-background {
  /* display: flex; */
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @@@@@ 모달 영역 끝 @@@@@@ */




/* @@@@댓글 창 @@@@@@ */
.post-comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}
.comment-container {
  height: max-content;
  width: 90%;
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 50px;
}
.comment-list {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 123px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.comment-user-profile-shortcuts {
  width: 47px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
}

.comment-user-profile-wrap img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment-member-info {
  height: 17px;
  display: flex;
}

.member-id {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.comment-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(124, 132, 132);
  width: 50px;
  display: flex;
  align-items: center;
}

.box {
  width: 10px;
  height: 100%;
}

.height-box {
  width: 100%;
  height: 10px;
}

.text-wrap {
  width: 85%;
  height: 123px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(44, 48, 48);
  white-space: pre-line;
}
#comment-form {
  width: 100%;
  height: 100%;
}
.write-area {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
.comment-profile-container {
  width: 64px;
  height: 124px;
  margin: 0 20px;
}

.comment-profile-wrap {
  display: flex;
}

.user-profile-wrap {
  display: flex;
  justify-content: center;
}

.user-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment-input-box {
  width: 95%;
  height: 124px;
}
.comment-input-area {
  width: 95%;
  padding: 10px;
  min-height: 120px;
  border: 1px solid rgb(240, 245, 245);
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.5px;
  outline-style: none;
  /* border: 1px solid rgb(219, 222, 226); */
}

.submit-btn-box {
  width: 96%;
  height: 70px;
  display: flex;
  /* -webkit-box-pack: end; */

  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.comment-submit-btn {
  background-color: white;
  width: 100px;
  height: 42px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(228, 232, 232);
  color: rgb(44, 48, 48);
  cursor: pointer;
}
/* @@@@@ 댓글 수정 삭제 테스트 @@@@@@ */
.comment-edit-delete-btn-box {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.comment-edit-btn,
.comment-delete-btn {
  border: none;
  background: white;
  cursor: pointer;
  color: rgb(124, 132, 132);
  font-size: 12px;
}
.comment-edit-btn:hover,
.comment-delete-btn:hover {
  color: rgb(50, 50, 50);
}

.comment-edit-box {
  width: 100%;
  height: 123px;
  margin-top: 10px;
  display: none;
}

#comment-edit {
  width: 100%;
  height: 100px;
  padding: 10px;
  min-height: 120px;
  border: 1px solid rgb(240, 245, 245);
  border-radius: 10px;
  font-size: 14px;
  outline-style: none;
}

.edit-btn-box {
  height: 70px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.edit-btn {
  background-color: white;
  width: 100px;
  height: 42px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(228, 232, 232);
  color: rgb(44, 48, 48);
  cursor: pointer;
}

/* @@@@@@ 댓글 영역 끝 @@@@@@@ */
/* @@@@@@@ 모달 픽시드 버튼 @@@@@@ */
.post-btn-box-wrap {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: beige; */
  margin-top: 20px;
  position: fixed;
  right: 20px;
}
.author-info:hover .author-img-back {
  display: block;
}

.author-img-back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.author-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.btn-wrap-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.post-btn-box {
  width: 56px;
  height: 96px;
  margin-bottom: 20px;
}

.post-btn-box button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background: none rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-list {
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.add {
  display: flex;
}

.done {
  display: none;
  color: rgb(42, 197, 198);
}

.report-btn-color:hover {
  color: rgb(255, 0, 0);
}

.btn-color:hover {
  color: rgb(42, 197, 198);
}

.like-btn-color:hover {
  color: rgb(255, 0, 0);
}
