*{
    margin: 0px;
    padding: 0px;
	font-family: "Pretendard";
    box-sizing: border-box;
}

/* 헤더 푸터 영역 */
input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #5b696f;
}
font {
  color: #5b696f;
  cursor: default;
}
.container-wrap {
  /* background-color: beige; */
  width: 100vw;
  height: 100%;
}

.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
}

.pandang-container{
   margin-left : 20px;
}

.header-list{
   margin : 0 20px;
}

.start-container a:hover {
  color: rgb(42, 197, 198);
}

.logo-img {
  width: 140px;
  height: 40px;
}

.search {
  display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

  /* 여기서 부터 결제 css */
.page-content{
    display: flex;
    position: relative;
    flex-direction: column;
}

.background{
    background-color: rgb(255, 255, 255);
    width: 100% ;
    height: 100%;
    min-height: calc(100vh - 56px);
}

.inner-wrap{
    max-width: 1200px;
    width: 95%;
    margin: 0px auto;
    padding-top: 24px;
    /* height: 1733px; */
    /* height: 1590px; */
    /* height: 1300px; */
    height: 1500px;
  }

/* ================================================================= */

  /* .orderList{
    margin: 0px;
    padding: 0px;
    display: block;
  }

  .orderList-title{
    position: relative;
    height: 38px;
    margin: 0px;
    line-height: 38px;
    color: #444;
    font-size: 12px;
    font-weight: normal;
  }

  .oderList-board{
    margin: 0 0 1px;
    color: #444;
    line-height: 1.5px;
    border-top: 1px solid #ddd;
    padding: 0px;
  }

  .oder-board{
    width: 100%;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
  }

  .oder-kind{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .oderList-kind{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .chk{
    width: 70px;
    padding: 12px 0 10px;
    font-weight: normal;
    background: #fff;
    border-bottom: 1px solid #aaa;
    border: 0px;
    vertical-align: top;
  }

  .checkbox{
    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
    padding: 0px;
    border: 0px;
    line-height: 22px;
  } */

  /* ============================예슬이 누나꺼================================= */

  .basket-table {
    height: 30px;
    font-size: 25px;
   /*  font-weight: 600; */
    margin: 10px;
    padding-left: 5px;
  }
  
  
  .board-table{
    border-collapse: collapse;
    text-align: center;
    width: 1200px;
    height: 50px;
    padding: 28px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #5b696f;
  }

  .title,
  .price1,
  .count,
  .price-count,
  .pric,
  .delivery-price,
  .total-price{
    border-collapse: collapse;
    text-align: center;
    width: 1200px;
    height: 50px;
    padding: 28px;
    border-top: 1px solid #aaa;
    /* border-bottom: 1px solid #aaa; */
  }

  .basket-name1,
  .basket-name2,
  .basket-name3,
  .basket-name4,
  .basket-name5,
  .basket-name6,
  .basket-name7{
    border-collapse: collapse;
    text-align: center;
    width: 1200px;
    height: 50px;
    padding: 28px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }

  /* .basket-name2,
  .basket-name3,
  .basket-name4,
  .basket-name5,
  .basket-name6,
  .basket-name7{
    border-collapse: collapse;
    text-align: center;
    width: 1200px;
    height: 50px;
    padding: 28px;
    border-bottom: 0px;
  } */

  .board-table {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    height: auto;
  }
 
  
  .basket-img img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    /* margin-bottom: 1px; */
  }

  /* .basket-img1{
    width: 80px;
    height: 80px;
    margin-top: 5px;
  }

  .basket-img2{
    width: 80px;
    height: 80px;
  }

  .basket-img3{
    width: 80px;
    height: 80px;
  }
 
  .basket-img4{
    width: 80px;
    height: 80px; 
  }
  */

  .board-table td {
    border-top: 1px solid #ddd;
  }
 
  
  .board-table th {
    font-weight: bold;
  }
 

  
  .pay-table {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    position: absolute;
    top: 550px;
    width: 1200px;
    height: 65px;
    color: #5b696f;
  }

  .pay-total{
    text-align: center;
  }
  
  .pay-table td {
    border-top: 1px solid #ddd;
  }
  
  .pay-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 100px 0px;
  }
  
  .total-pay,
  .total-pay-th {
    padding-left: 70px;
  }
  
  .pay-all,
  .pay-check {
    margin: 10px;
  }
  
  /*
  button {
    width: 100px;
    height: 40px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
  }
   */

.pay-table tr{
	height: 50px;
}

.board-table tr{
	height: 140px;
}

.pay-title{
	height: 50px !important;
}

/* ================================================================ */

  .orderarea{
    margin: 0px;
    padding: 0px;
    width: 1200px;
    height: 440px;
    position: absolute;
    top: 680px;
  }

  .required-area{
    margin: -20px 0px 0px;
    color: #444;
    text-align: right;
  }

  .requiredDot{
    color: rgb(42, 197, 198);
  }

  .main-area{
    border: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    table-layout: fixed;
    color: #444;
    line-height: 1.5px;
  }

  .ordertable{
    width: 100%;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    color: #444;
    line-height: 1.5px;
  }

  .choose-place{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .choose{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 150px;
    padding: 11px 0px 9px 19px;
    font-weight: normal;
    text-align: left;
    /* vertical-align: top; */
    line-height: 1.5px;
    /* border: 0px; */
  }

  .choose-type{
    width: auto;
    padding: 8px 0 7px 10px;
    color: #444;
    vertical-align: middle;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .type-same{
    width: 13px;
    height: 13px;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
  }

  .type1{
    padding: 0px 30px 0px 0px;
    color: #353535;
    font-size: 12px;
  }

  .type-different{
    width: 13px;
    height: 13px;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    border: 0px;
    vertical-align: middle;
  }

  .type2{
    padding: 0px 30px 0px 0px;
    color: #353535;
    font-size: 12px;
  }

  .look-address{
    margin:  0 0 0 -10px;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    background: #fff;
    padding: 0px 15px;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(42, 197, 198);
    border-radius: 5px;
    color: rgb(42, 197, 198);
  }

  .who{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .receiver{
    width: 150px;
    height: 19px;
    padding: 11px 0px 9px 19px;
    border-top: 1px solid #ddd;
    font-weight: normal;
    text-align: left;
    color: #444;
    line-height: 1.5px;
    /* border: 0px; */
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  .who-is{
    width: auto;
    padding: 8px 0px 7px 10px;
    border-top: 1px solid #ddd;
    color: #444;
    vertical-align: middle;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #ddd;
  }

  .who-is-put{
    width: 180px;
    height: 22px;
    padding:  0 0 0 9px;
    border: 1px solid #ddd;
    line-height: 22px;
  }

  .address{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .address-kind{
    width: 150px;
    padding: 11px 0px 9px 19px;
    border-top: 1px solid #ddd;
    font-weight: normal;
    text-align: left;
    /* border: 0px; */
    vertical-align: top;
    /* border-right: 0px; */
    border-right: 0px;
    border-left: 0px;
  }

  .address-put-type{
    margin: 0px;
    display: table-cell;
    border-right: 0px;
    border-left: 0px;
    /* border-top: 0px; */
    border-bottom: 0px;
  }

  .mail-address{
    width: 119px;
    /* padding: 0 0 0 9px; */
    text-align: inherit;
    height: 22px;
    border: 1px solid #ddd;
    line-height: 22px;
    margin: 5px 0px 0px 10px;
    padding: 9px
  }

  .main-address,
  .sub-address{
    width: 450px;
    margin: 5px 0px 0px 10px;
    height: 22px;
    padding: 0 0 0 9px;
    border: 1px solid #ddd;
    line-height: 22px;
  }

  .sub-address{
    margin-bottom: 5px;
  }

  .address-number{
    position: relative;
    top: 2px;
    margin: 0 0 0 6px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  .address-number-text{
  	font-size: 12px;
  }

  .classic-phone,
  .cell-phone{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .classic-phone-number,
  .cell-phone-number{
    width: 150px;
    padding: 11px 0px 9px 19px;
    border-top: 1px solid #ddd;
    font-weight: normal;
    text-align: left;
    border-left: 0px;
    border-right: 0px;
  }

  .cell-phone-number{
    border-top: 1px solid #ddd;
    border-bottom: 0px;
  }

  .classic-phone-type,
  .cell-phone-type{
    width: auto;
    padding: 8px 0px 7px 10px;
    /* border-top: 1px solid #ddd; */
    color: #444;
    vertical-align: middle;
    border: 0px;
  }

  .classic-phone-type{
    border-top: 1px solid #ddd;
  }

  .cell-phone-type{
    border-top: 1px solid #ddd;
  }

  .classic-phone-put,
  .cell-phone-put{
    width: 180px;
    height: 22px;
    padding:  0 0 0 9px;
    border: 1px solid #ddd;
    line-height: 22px;
  }
  
  .member-info2{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    height: 83px;
  }

  .email-section{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .email{
    border-top: 1px solid #e9e9e9;
    width: 150px;
    padding: 11px 0px 9px 19px;
    font-weight: normal;
    text-align: left;
    /* border: 0px; */
    vertical-align: top;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  .email-type{
    border-top: 1px solid #e9e9e9;
    width: auto;
    padding: 8px 0px 7px 10px;
    color: #444;
    vertical-align: middle;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  .front-email-address{
    width: 180px;
    margin: 0 4px 0 0;
    height: 22px;
    padding: 0 0 0 9px;
    border: 1px solid #ddd;
    line-height: 22px;
  }

  .end-email-address{
    width: 180px;
    margin: 0 4px;
    height: 22px;
    padding: 0 0 0 9px;
    border: 1px solid #ddd;
    line-height: 22px;
  }

  .email-kind{
    margin: 0 4px 0 0;
    width: 115px;
    height: 24px;
    border: 1px solid #ddd;
  }

  .email-info,
  .email-info2{
    margin: 7px 0 0;
    padding: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0.45em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .email-info2{
    margin: 7px;
    padding: 0px;
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .delivery{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .delivery-message-section{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .delivery-name{
    border-top: 1px solid #ddd;
    width: 150px;
    padding: 11px 0px 9px 19px;
    font-weight: normal;
    text-align: left;
    color: #444;
    line-height: 1.5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    /* border-top: 0px; */
  }

  .delivery-message{
    width: auto;
    padding: 8px 0px 7px 10px;
    border: 0px;
    color: #444;
    vertical-align: middle;
    border-top: 1px solid #ddd;
  }

  .delivery-message-area{
    width: 750px;
    height: 50px;
    padding: 5px 6px;
    border: 1px solid #ddd;
    margin: 0px;
    /* line-height: 1.5px; */
    font-size: 100%;
  }

  .payarea{
    margin: 0px;
    padding: 0px;
    /* width: 300px; */
    width: 1200px;
    height: 150px;
    position: absolute;
    display: flex;
    top: 1150px;
    justify-content: center;
    /* left: 600px; */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .second-payarea{
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 0px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f2f2f260;
    margin-top: 100px;
  }

  .final-pay-message{
    margin: 17px 0 0;
    color: #353535;
    font-size: 14px;
    padding: 10px;
    text-align: center
    
  }

  .price-zone{
    text-align: right;
    clear: none;
    border: 0px;
    float: none;
    width: 190px;
    height: auto;
    padding: 0px;
    color: #444;
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    background: #f4f4f4;
    
  }

  .pay-button{
    display: flex;
    justify-content: center;
    
  }

  .pay-button-tag{
    display: block;
    background-color: #444;
    margin: 20px 14px;
    padding: 8px 0px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    width: 75px;
    
    border: 1px solid #f0f0f0;
  	cursor: pointer;
  }
  
  .area-title{
  padding-left: 5px;
  margin: 10px;
  margin-top: 50px;
  }
  
  .post-info-text{
  font-size: 25px;
  font-weight: normal;
  }

   /* @@@@푸터@@@@@ */
   .footer-container {
    width: 100%;
    height: 200px;
    /* background-color: ; */
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .name {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .footer-container p {
    margin: 10px;
  }
  
  .information {
    display: flex;
    justify-content: center;
    font-size: 10px;
  }