* {
  margin: 0;
  padding: 0;
  /* 요소의 너비, 크기에 패딩과 테두리를 포함시키는 속성
크기를 맞출 때 계산하기 편함 */
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  width: 100%;
  height: 100vh;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #5b696f;
}

font {
  color: #5b696f;
  cursor: default;
}
.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
}

.pandang-container{
   margin-left : 20px;
}

.header-list{
   margin : 0 20px;
}


.start-container a:hover {
  color: rgb(42, 197, 198);
}

.logo-img {
  width: 140px;
  height: 40px;
}

.search {
   display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

}
.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.my-page {
  display: none;
}

/* @@@@푸터@@@@@ */
.footer-container {
  width: 100%;
  height: 200px;
  /* background-color: ; */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  min-width: 600px;
}

.main-container {
  width: 60%;
  height: 80%;
}

.main-container h1 {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 70px;
  border-bottom: 1px solid #dbdbdb;
}

.sns-container {
  height: 90%;
  display: flex;
}

.img-container {
  width: 70%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container button {
  background-color: #6babff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.content-container {
  width: 30%;
  border-left: 1px solid #dbdbdb;
}

.main-container {
  border: 1px solid #dbdbdb;
  border-radius: 12px;
}

.profile {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.profile-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 12px;
}

.sns-content-area {
  height: 80%;
}

#sns-content {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border: none;
}

#sns-content::placeholder {
  font-size: 16px;
  columns: #e7e7e7;
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: white;
  border: none;
  color: #6babff;
  font-size: 14px;
  cursor: pointer;
}

textarea:focus {
  outline: none;
}
