* {
  margin: 0;
  padding: 0;
  /* 요소의 너비, 크기에 패딩과 테두리를 포함시키는 속성
크기를 맞출 때 계산하기 편함 */
  box-sizing: border-box;
  font-family: "Pretendard";
}

:root {
  --border-color: #e4e8e8;
  --mouse-focus-color: #1bcad3;
}

body {
  min-width: 1040px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5b696f;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #5b696f;
}

font {
  color: #5b696f;
  cursor: default;
}
.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
}

.start-container a:hover {
  color: rgb(42, 197, 198);
}

.logo-img {
  width: 140px;
  height: 40px;
}

.pandang-container {
  margin-left: 20px;
}

.header-list {
  margin: 0 20px;
}

.search {
  display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

/* ---------- Header Right Area ---------- */
.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

/* .login-container a {
  margin-right: 15px;
  color: black;
} */

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.new-upload__btn {
  padding: 10px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 20px;
  font-size: 12px;
}

.new-upload__btn:hover {
  background-color: #1bcad3;
  color: white;
}

.profile-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 14px;
}

/* ---------- Main ---------- */

#write-form {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #f5f5f5;
}

#text-box {
  height: 15%;
}
/* 제목입력 칸 */
.write-wrap {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  align-items: center;
  margin: 0 50px;
}

.title {
  width: 100%;
  display: flex;
}

.write-title {
  width: 100%;
  margin: 0 10px 20px 0;
}

.write-price {
  width: 100%;
}

.write-title {
  width: 100%;
  margin: 0 10px 20px 0;
}

.title {
  width: 100%;
  display: flex;
}

.write-price {
  width: 50%;
  margin-bottom: 20px;
}

.write-price input {
  padding: 11px 18px;
  width: 40%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.write-price input::placeholder {
  text-align: center;
}

.write-price input:focus {
  border: 1px solid var(--mouse-focus-color);
}

.write-title input {
  padding: 11px 18px;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.write-title input:focus {
  border: 1px solid var(--mouse-focus-color);
}

/* 카테고리 설정 */
.write-category {
  width: 200px;
  height: 40px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.dropdown-btn {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.dropdown-btn:hover {
  opacity: 0.7;
}

.menu-list {
  display: none;
  position: absolute;
  top: 45px;
  z-index : 3;
}

.list {
  width: 100%;
  background-color: white;
  margin-bottom: 1px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: center;
}

.list button {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.list:hover {
  background-color: var(--mouse-focus-color);
}

/* 컨텐츠 업로드 칸 */

#write-content__wrap {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  flex-direction: column;
}

#write-content__wrap .contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#write-content__wrap p {
  display: flex;
  justify-content: center;
  color: rgb(153, 153, 153);
  font-size: 18px;
  margin-bottom: 30px;
}

#write-content__wrap .tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

#write-content__wrap .image {
  width: 96px;
  height: 96px;
  color: white;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

#write-content__wrap .image:hover {
  background-color: var(--mouse-focus-color);
}

.tools img {
  width: 32px;
  height: 32px;
  max-width: 100%;
}

.tool-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text {
  margin-top: 10px;
}

/* 오른쪽 버튼 박스 */
.images img {
  width: 24px;
  height: 24px;
}

.images .text {
  font-size: 11px;
}

.add-btn__wrap {
  margin-bottom: 40px;
}

.add-btn__wrap .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 150px;
  height: 70px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}

.add-btn__wrap .images:hover {
  opacity: 0.7;
}

.add-btn__container {
  margin-top: 60px;
}

.button-wrap {
  display: flex;
  flex-direction: column;
}

.button-wrap .btn-next {
  background-color: #2c3030;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button-wrap .btn-next:hover {
  opacity: 0.8;
}

.button-wrap .btn-cancel {
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 24px;
}

.button-wrap .btn-cancel:hover {
  opacity: 0.8;
}

input[type="file"] {
  display: none;
}

.file-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-height: 750px;
  overflow: auto;
}

.file-list > li {
  display: flex;
  position: relative;
  width: 400px;
  height: 200px;
}

.show-img-box {
  width: 100%;
  height: 100%;
}

.show-img-box > img {
  max-width: 100%;
  height: 100%;
}

.btn-box {
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-cancel-btn {
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 25px;
}

.img-cancel-btn:hover {
  background-color: rgb(255, 87, 87);
  color: #fff;
}

/* ---------- Footer ---------- */
.footer-container {
  width: 100%;
  height: 200px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.img-container {
  width: 100%;
  height: 80%;
  border-bottom: 1px solid #dbdbdb;
}

.content-container {
  width: 100%;
  height: 20%;
}

.img-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  display: none;
}

.img-counter {
  display: none;
}

.img-cnt-container {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 3;
}

.next,
.prev {
  background: rgba(26, 26, 26, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transform: translate(0, -50%);
  z-index: 3;
  cursor: pointer;
}

.next {
  position: absolute;
  right: 10px;
  top: 50%;
}

.prev {
  position: absolute;
  left: 10px;
  top: 50%;
}

.img-select {
  background-color: #6babff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.img-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#sns-content {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border: none;
  resize: none;
}

#sns-content::placeholder {
  text-align: center;
  line-height: 180px;
  font-size: 15px;
}

.file-input,
.input {
  display: none;
}

.input-container{
  display : none;
}

.img-cnt-container {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 3;
}

.img-cnt {
  /* background: rgb(0, 149, 246); */
  background: rgb(168, 168, 168);
  margin-right: 4px;
  border-radius: 50%;
  height: 6px;
  transition: all 0.2s ease-in-out;
  width: 6px;
}

.next,
.prev {
  background: rgba(26, 26, 26, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transform: translate(0, -50%);
  z-index: 3;
  cursor: pointer;
}

.next {
  position: absolute;
  right: 10px;
  top: 50%;
}

.prev {
  position: absolute;
  left: 10px;
  top: 50%;
}

.return {
  position: absolute;
  left: 20px;
  cursor: pointer;
  display: none;
}

.submit{
	display : none;
}

.img{
	justify-content: center;
    align-items: center;
}

.img-content{
	overflow : auto;
}