@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* 요소의 너비, 크기에 패딩과 테두리를 포함시키는 속성
    크기를 맞출 때 계산하기 편함 */
  box-sizing: border-box;
  font-family: "Pretendard";
}

input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #5b696f;
}
font {
  color: #5b696f;
  cursor: default;
}
.container-wrap {
  /* background-color: beige; */
  width: 100vw;
  height: 100%;
}
/* @@@@@@@ 헤더 영역 시작 @@@@@@@@@@ */
.header-container {
  background-color: white;
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: sticky;
  z-index: 1;
  top: 0px;
}

.start-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
}

.start-container a:hover {
  color: rgb(42, 197, 198);
}

.pandang-container{
   margin-left : 20px;
}

.header-list{
   margin : 0 20px;
}

.logo-img {
  width: 140px;
  height: 40px;
}

.search {
  display: flex;
  width: 370px;
  align-items: center;
  height: 46px;
  background-color: #f5f6f7;
  margin-right: 40px;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.search button {
  position: absolute;
  right: 30px; /* 우측 공간 조절 */
  top: 50%; /* 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 15px;
  color: #5b696f;
  background: #f5f6f7;
  padding-right: 30px;
  margin-left: 10px;
}

.login-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 56px;
  color: #5b696f;
  margin-right: 30px;
}

.login:hover {
  color: rgb(42, 197, 198);
}

.join {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logout {
  width: 70px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  display : flex;
}

/* @@@@@@ 헤더 영역 끝 @@@@@@@@@ */

.main-container {
  width: 100%;
  height: 80%;
}
/* @@@@@@ 채널 영역 시작 @@@@@@@@@@ */
.channel-container {
  background-color: white;
  border-bottom: solid 1px rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 46px;
}

.choice-list ul {
  display: flex;
}

.choice-container {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.choice-list-box {
  width: 1150px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.choice-container button:hover {
  color: rgb(42, 197, 198);
}

.choice-container button {
  cursor: pointer;
  color: #5b696f;
  font-weight: 300;
  font-size: 17px;
  border: none;
  background-color: white;
}

.page-btn-box {
  width: 100px;
  height: 100%;
  /* margin-right: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.prev,
.next {
  border: none;
  background-color: white;
}

.page-btn-box button:hover {
  color: rgb(42, 197, 198);
}
/* @@@@@ 채널 영역 끝 @@@@@@@@@ */

/* @@@@@ 카테고리 컨테이너 영역 @@@@@@@@ */
.categori-container {
  background-color: white;
  width: 100%;
  height: 200px;
  /* background-color: black; */
  display: inline-block;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.categori-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
}

.categori-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categori {
  background-color: transparent;
  color: black;
  border: 1px solid rgb(50, 50, 50);
  cursor: pointer;
  width: 100px;
  height: 40px;
  /* background-color: rgb(50, 50, 50);
  color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;

  margin: 10px;
}

.design {
  color: white;
  background-color: rgb(50, 50, 50);
}
/* @@@@@@ 카테고리 영역 끝 @@@@@@@ */

/* @@@@@@ 게시글 영역 @@@@@@@ */
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
  border-bottom: solid 1px rgb(200, 200, 200);
}

.post-box-container {
  width: 282px;
  height: 300px;
  /* border: 1px solid black; */
  margin: 10px;
}

.post-img-container {
  display: flex;
  justify-content: center;
}

.post-img-box-wrap {
  width: 240px;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.post-img-box {
  cursor: pointer;
}

.post-img {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 5px;
}

/* @@@@ 게시글 이미지에 hover 시 어두워지는거 @@@@*/
.post-img-box-wrap:hover > .post-img-back {
  display: block;
}

/* @@@@ 게시글 hover 시에 하트 보여지는거 @@@@@ */
.post-img-box-wrap:hover > .like-btn {
  display: block;
}

.post-img-back {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  display: none;
  cursor: pointer;
}

.like-btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  right: 8px;
  width: 26px;
  height: 26px;
  line-height: 25px;
  background: url(https://cdn.loud.kr/LOUD_IMG/designer/new/heart-white-line.png)
    50% 50% no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-size: cover;
  z-index: 2;
  display: none;
}

.like-btn:hover {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  right: 8px;
  width: 26px;
  height: 26px;
  line-height: 25px;
  background: url(https://cdn.loud.kr/LOUD_IMG/designer/new/heart-white-fill.png)
    50% 50% no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-size: cover;
  z-index: 2;
}

.post-title-box {
  margin: 5px 16px 0 16px;
  font-weight: bold;
}

.writer-container {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: space-between;
  align-items: center;
}

.writer-name {
  font-size: 13px;
  font-weight: 600;
  color: #5b696f;
}

.writer-name:hover {
  color: rgb(42, 197, 198);
}

.profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.follow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  margin-right: 20px;
  color: #5b696f;
}

.follow-btn:hover {
  color: rgb(42, 197, 198);
}

.follow {
  display: inline-block;
}

.following {
  display: none;
}

.like-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.before-like-btn {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
}
.after-like-btn {
  width: 20px;
  height: 20px;
  display: none;
}

/* 하트 클릭시 js 변하는 클래스 */
.active {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  right: 8px;
  width: 26px;
  height: 26px;
  line-height: 25px;
  background: url(https://cdn.loud.kr/LOUD_IMG/designer/new/heart-red-fill.png)
    50% 50% no-repeat;
  border: none;
  font-size: 0;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-size: cover;
  z-index: 3;
  display: none;
}

.like-cnt {
  color: #5b696f;
  font-size: 14px;
}

/* @@@@@@@@@ 모달 영역 @@@@@@@@@ */
.post-modal-box {
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: blue;
}
.post-modal {
  display: none;
  width: 95%;
  height: 10px;
  /* background-color: black; */
  position: fixed;
  margin: auto;
  margin-top: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  /* display: flex; */
}

.post-box {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
  height: max-content;
}

.post-header-container {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
}

.post-header-box {
  width: 95%;
  height: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
}

.post-header {
  width: 60%;
}

.post-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  word-break: break-all;
}

.post-date-categori-box {
  width: 60%;
  height: 32px;
  display: flex;
  align-items: center;
}

.post-date-categori-box > div {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(78, 84, 84);
}

.post-information {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post-view-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.post-like-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.post-comment-cnt {
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.view-cnt,
.p-like-cnt,
.comment-cnt {
  margin-top: 10px;
}

.post {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  padding: 30px 0;
}

.post > img {
  /* post안에 들어가는 img 최대 크기 설정 */
  max-width: 100%;
  max-height: 100%;
}
.post-comment-box {
  width: 100%;
  height: max-content;
  /* border: 1px solid black; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-background {
  /* display: flex; */
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* @@@@@ 모달 영역 끝 @@@@@@ */
/* @@@@댓글 창 @@@@@@ */
.post-comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}
.comment-container {
  height: max-content;
  width: 90%;
  border: 1px solid rgb(241, 241, 241);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin: 50px;
}
.comment-list {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 123px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.comment-user-profile-shortcuts {
  width: 47px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
}

.comment-user-profile-wrap img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment-member-info {
  height: 17px;
  display: flex;
}

.member-id {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.comment-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(124, 132, 132);
  width: 50px;
  display: flex;
  align-items: center;
}

.box {
  width: 10px;
  height: 100%;
}

.height-box {
  width: 100%;
  height: 10px;
}

.text-wrap {
  width: 85%;
  height: 123px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgb(44, 48, 48);
  white-space: pre-line;
}
#comment-form {
  width: 100%;
  height: 100%;
}
.write-area {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
.comment-profile-container {
  width: 64px;
  height: 124px;
  margin: 0 20px;
}

.comment-profile-wrap {
  display: flex;
}

.user-profile-wrap {
  display: flex;
  justify-content: center;
}

.user-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment-input-box {
  width: 95%;
  height: 124px;
}
.comment-input-area {
  width: 95%;
  padding: 10px;
  min-height: 120px;
  border: 1px solid rgb(240, 245, 245);
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.5px;
  outline-style: none;
  resize: none;
  /* border: 1px solid rgb(219, 222, 226); */
}

.submit-btn-box {
  width: 96%;
  height: 70px;
  display: flex;
  /* -webkit-box-pack: end; */

  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.comment-submit-btn {
  background-color: white;
  width: 100px;
  height: 42px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(228, 232, 232);
  color: rgb(44, 48, 48);
  cursor: pointer;
}
/* @@@@@ 댓글 수정 삭제 테스트 @@@@@@ */
.comment-edit-delete-btn-box {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.comment-edit-btn,
.comment-delete-btn {
  border: none;
  background: white;
  cursor: pointer;
  color: rgb(124, 132, 132);
  font-size: 12px;
}
.comment-edit-btn:hover,
.comment-delete-btn:hover {
  color: rgb(50, 50, 50);
}

.comment-edit-box {
  width: 100%;
  height: 123px;
  margin-top: 10px;
  display: none;
}

#comment-edit {
  width: 100%;
  height: 100px;
  padding: 10px;
  min-height: 120px;
  border: 1px solid rgb(240, 245, 245);
  border-radius: 10px;
  font-size: 14px;
  outline-style: none;
}

.edit-btn-box {
  height: 70px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.edit-btn {
  background-color: white;
  width: 100px;
  height: 42px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(228, 232, 232);
  color: rgb(44, 48, 48);
  cursor: pointer;
}

/* @@@@@@ 댓글 영역 끝 @@@@@@@ */
/* @@@@@@@ 모달 픽시드 버튼 @@@@@@ */
.post-btn-box-wrap {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: beige; */
  margin-top: 20px;
  position: fixed;
  right: 20px;
}
.author-info:hover .author-img-back {
  display: block;
}

.author-img-back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.author-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.btn-wrap-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.post-btn-box {
  width: 56px;
  height: 96px;
  margin-bottom: 20px;
}

.post-btn-box button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background: none rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-list {
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.add {
  display: flex;
}

.done {
  display: none;
  color: rgb(42, 197, 198);
}

.report-btn-color:hover {
  color: rgb(255, 0, 0);
}

.btn-color:hover {
  color: rgb(42, 197, 198);
}

.like-btn-color:hover {
  color: rgb(255, 0, 0);
}

/* @@@@@ 모달 프로필 바로가기 버튼 @@@@@ */
.profile-path {
  width: 300px;
  height: 330px;
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 20px;
  right: 125px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}

.profile-modal-img-box,
.profile-modal-member,
.profile-modal-follow-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-modal-img-box {
  width: 100%;
  height: 200px;
}

.profile-modal-img-box a {
  display: flex;
}

.profile-modal-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal-img-background {
  background-color: rgba(248, 248, 248, 0.499);
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
}

.profile-modal-member {
  width: 100%;
  height: 50px;
}

.profile-modal-member a {
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
  font-size: 20px;
  color: rgb(44, 48, 48);
}

.profile-modal-member a:hover {
  color: rgba(44, 48, 48, 0.5);
}

.modal-follow-btn-box {
  width: 100%;
  height: 50px;
}

.profile-modal-follow-btn {
  width: 270px;
  height: 46px;
  border-radius: 25px;
  border: 1px solid rgb(228, 232, 232);
  background-color: rgb(42, 197, 198);
  color: white;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  display: block;
}

.profile-modal-following-btn {
  width: 270px;
  height: 46px;
  border-radius: 25px;
  border: 1px solid rgb(228, 232, 232);
  background: rgb(42, 197, 198, 0.05);
  color: rgb(42, 197, 198);
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#following {
  font-size: 14px;
  margin-top: 3px;
  margin-left: 5px;
  font-weight: 300;
}

.profile-modal-follow-btn:hover {
  background: rgba(42, 198, 198, 0.5);
}
/* @@@@@@@ 신고 모달 @@@@@@@@ */
.report-path {
  width: 80%;
  height: 550px;
  padding: 20px;
  position: fixed;
  z-index: 2;
  background-color: white;
  bottom: 30px;
  right: 125px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  display: none;
}

.report-msg {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report-msg h1 {
  font-size: 25px;
}

.report-path form {
  width: 100%;
  height: 84%;
}

.report-content-box {
  width: 100%;
  height: 100%;
}

.reportTitle {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reportTitle input {
  width: 95%;
  height: 70%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
}

.report-content {
  display: flex;
  width: 100%;
  height: 65%;
  justify-content: center;
}

.report-content textarea {
  width: 95%;
  height: 90%;
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.5px;
  outline-style: none;
}

.report-btn {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}

.report-btn button {
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  border-style: none;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(44, 48, 48);
  cursor: pointer;
}

/* @@@@@@ 신고 모달 끝 @@@@@@ */
/* @@@@@@ 푸터 영역 @@@@@@@@@  */
.footer-container {
  width: 100%;
  height: 200px;
  /* background-color: ; */
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.footer-container p {
  margin: 10px;
}

.information {
  display: flex;
  justify-content: center;
  font-size: 10px;
}

/*  @@@@@@@@ 푸터 영역 끝 @@@@@@@  */
