<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="basket">
	
	<select id="selectAll" resultType="BasketVO" parameterType="_int">
		select m.member_number , s.store_number ,
		s.store_title , s.store_price , b.basket_cnt,
		(select sf.store_file_system_name from tbl_store_file sf
		where store_number = sf.store_number 
		limit 0,1)
		from tbl_member m join tbl_basket b on m.member_number = #{memberNumber}
		and m.member_number = b.member_number
		join tbl_store s on b.store_number = s.store_number
	</select>
	
	<delete id="delete" parameterType="_int">
	delete from tbl_basket
	where store_number = #{storeNumber}
	</delete>
	
	
</mapper>