<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="channel">
	<insert id="insert" parameterType="channelDTO">
		insert into pandang.tbl_channel
		(channel_name, channel_comment, member_number)
		values(#{channelName}, #{channelComment}, #{memberNumber})
	</insert>


	<update id="update" parameterType="channelDTO">
		update pandang.tbl_channel
		set
		channel_name=#{channelName}, channel_comment=#{channelComment},
		member_number=#{memberNumber}
		where channel_number=#{channelNumber}
	</update>
	
	
	<insert id="joinChannel" parameterType="ChannelDTO">
		INSERT INTO tbl_channel
		(channel_name, member_number)
		VALUES(#{channelName}, #{memberNumber})
	</insert>
	
</mapper>