<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="join" parameterType="MemberDTO">
		insert into tbl_member
		(member_id, member_password, member_name, member_nickname,
		member_birth, member_gender, member_phone_number, member_email,
		member_ask, member_answer, member_status, member_address,
		member_address_detail, member_zone_code)
		values(#{memberId},
		#{memberPassword}, #{memberName}, #{memberNickname}, #{memberBirth},
		#{memberGender}, #{memberPhoneNumber}, #{memberEmail}, #{memberAsk},
		#{memberAnswer},
		#{memberStatus}, #{memberAddress},
		#{memberAddressDetail}, #{memberZoneCode})
	</insert>


	<select id="myPageSelectAll" resultType="MemberVO"
		parameterType="_int">
		select c.channel_name , c.channel_comment ,
		cf.channel_file_system_name,
		m.member_number, m.member_password ,
		m.member_nickname , m.member_phone_number ,
		m.member_address ,
		m.member_address_detail , m.member_zone_code
		from tbl_member m join
		tbl_channel c
		on m.member_number = #{memberNumber}
		and m.member_number =
		c.member_number
		left outer join tbl_channel_file cf
		on c.channel_number
		= cf.channel_number
	</select>

	<update id="mypageEdit" parameterType="MemberVO">
		update tbl_member m join tbl_channel c 
		on m.member_number = c.member_number
		set 
		c.channel_name = #{channelName},
		c.channel_comment = #{channelComment},
		m.member_password = #{memberPassword},
		m.member_nickname = #{memberNickname},
		m.member_phone_number = #{memberPhoneNumber},
		m.member_address = #{memberAddress},
		m.member_address_detail = #{memberAddressDetail},
		m.member_zone_code = #{memberZoneCode}
		where m.member_number = #{memberNumber}
	</update>
	
	<!-- pay페이지의 회원 정보 받아오기  -->
	<select id="payMember" resultType="MemberDTO" parameterType="_int">
		select member_number , member_name , 
		member_address , member_address_detail , 
		member_zone_code, member_phone_number , member_email 
		from tbl_member
		where member_number = #{memberNumber};
	</select>
</mapper>