<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sns">


	<select id="sessionProfileImg" resultType='string' parameterType="_int">
		select tcf.channel_file_system_name  from tbl_channel_file tcf 
		left join tbl_channel tc 
		on tc.channel_number = tcf.channel_number 
		left join tbl_member tm 
		on tm.member_number = tc.member_number 
		where tm.member_number = #{memberNumber}
	</select>
	
	<select id="selectAll" resultType="SnsVO" parameterType="_int">
	select ts.sns_number, ts.sns_title, ts.sns_content, ts.sns_date,
	ts.sns_view_cnt,
	count(tsl.sns_number) as like_cnt, tsf.sns_file_system_name
	from tbl_member tm
	left join tbl_sns ts on tm.member_number = ts.member_number
	left join tbl_sns_like tsl on ts.sns_number = tsl.sns_number
	left join tbl_sns_file tsf on tsl.sns_number = tsf.sns_number
	where tm.member_number = #{memberNumber}
	group by ts.sns_number, ts.sns_title, ts.sns_content, ts.sns_date,
	ts.sns_view_cnt, tsf.sns_file_system_name
	order by ts.sns_date desc
	</select>

	<!-- snsHostHeader 부분 -->
	<select id="memberInfo" resultType="SnsHeaderVO" parameterType="_int">
		select
		m.member_number,
		m.member_nickname,
		c.channel_name ,
		(select count(*) from tbl_follow where member_number_from = m.member_number)
		as from_count,
		(select count(*) from tbl_follow where member_number_to = m.member_number) as
		to_count,
		count(distinct s.sns_number) as sns_count,
		c.channel_comment,
		tcf.channel_file_system_name 
		from
		tbl_member m
		left join tbl_follow f on m.member_number = f.member_number_from
		left join tbl_sns s on m.member_number = s.member_number
		left join tbl_channel c on m.member_number = c.member_number
		left join tbl_channel_file tcf on c.channel_number =tcf.channel_number 
		where
		m.member_number = #{memberNumber}
		group by
		m.member_number,
		m.member_nickname,
		c.channel_name ,
		from_count,
		to_count,
		channel_comment,
		tcf.channel_file_system_name 
	</select>
	
	
	<!-- post hover시에 보이는 정보들 -->
	<select id="snsPostInfo" resultType="SnsPostInfoVO" parameterType="map">
    select ts.sns_number, ts.sns_title as snsTitle, ts.sns_date as snsDate, ts.sns_view_cnt as snsViewCnt,
    count(tsl.sns_number) as likeCnt,
  	 (select sns_file_system_name  from tbl_sns_file tsf
  	 where sns_number= ts.sns_number
  	 limit 0, 1) sns_file_system_name 
    from tbl_sns ts
    left join tbl_sns_like tsl
    on ts.sns_number = tsl.sns_number
    where ts.member_number = #{memberNumber}
    group by ts.sns_number, ts.sns_title, ts.sns_date, ts.sns_view_cnt
    order by ts.sns_number desc
    limit #{startRow}, #{rowCount}
	</select>

	<!-- 전체 sns 게시글 수 가져오기 -->
	<select id="getTotal" parameterType="_int" resultType="_int">
		select count(sns_number) from tbl_sns ts
		where member_number = #{memberNumber}
	</select>
	
	<!-- view 업데이트 -->
	<update id="updateSnsViewCnt" parameterType="_int">
		update tbl_sns 
		set sns_view_cnt = sns_view_cnt + 1
		where sns_number = #{snsNumber}
	</update>
	
	<update id="updateStoreViewCnt" parameterType="_int">
		update tbl_store
		set store_view_cnt = store_view_cnt + 1
		where store_number = #{storeNumber}
	</update>
	
	<!-- 좋아요 업데이트 -->
	<select id="liked" parameterType="map" resultType="_int">
		select count(sns_number) from tbl_sns_like 
 		where sns_number = #{snsNumber} and member_number = #{memberNumber}
	</select>
	
	
	<insert id="updateSnsLikeCnt" parameterType="SnsDTO">
		insert into tbl_sns_like
		(sns_number, member_number)
		values(#{snsNumber}, #{memberNumber})
	</insert>
	
	<delete id="deleteSnsLikeCnt" parameterType="SnsDTO">
		delete from tbl_sns_like
		where sns_number = #{snsNumber}  and member_number= #{memberNumber}
	</delete>
	
	<!-- 팔로우 업데이트 -->
	<select id="followed" parameterType="map" resultType="_int">
		select count(member_number_from) from tbl_follow
 		where member_number_from = #{memberNumberFrom} and member_number_to = #{memberNumberTo}
	</select>
	
	<insert id="updateSnsFollow" parameterType="SnsFollowVO">
		insert into tbl_follow
		(member_number_from, member_number_to)
		values(#{memberNumberFrom}, #{memberNumberTo})
	</insert>
	
	<delete id="deleteSnsFollow" parameterType="SnsFollowVO">
		delete from tbl_follow 
		where member_number_from = #{memberNumberFrom} and member_number_to = #{memberNumberTo}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteSnsPost" parameterType="_int">
		delete from tbl_sns
		where sns_number = #{snsNumber}
	</delete>
	
	<delete id="deleteSnsLikeFromHost" parameterType="_int">
		delete from tbl_sns_like
		where sns_number = #{snsNumber}
	</delete>
	
	<delete id="deleteSnsCommentFromHost" parameterType="_int">
		delete from tbl_sns_comment
		where sns_number = #{snsNumber}
	</delete>
	
	<delete id="deleteSnsFileFromHost" parameterType="_int">
		delete from tbl_sns_file 
		where sns_number = #{snsNumber}
	</delete>
	
	<delete id="deleteSnsReportFromHost" parameterType="_int">
		delete from tbl_report_sns
		where report_sns_number = #{snsNumber}
	</delete>
	
	<!-- 스토어 게시글 삭제 -->
	<delete id="deleteStorePost" parameterType="_int">
		delete from tbl_store
		where store_number = #{storeNumber}
	</delete>
	
	<delete id="deleteStoreLikeFromHost" parameterType="_int">
		delete from tbl_store_like
		where store_number = #{storeNumber}
	</delete>
	
	<delete id="deleteStoreCommentFromHost" parameterType="_int">
		delete from tbl_store_comment
		where store_number = #{storeNumber}
	</delete>
	
	<delete id="deleteStoreFileFromHost" parameterType="_int">
		delete from tbl_store_file 
		where store_number = #{storeNumber}
	</delete>
	
	<delete id="deleteStoreBasketFromHost" parameterType="_int">
		delete from tbl_basket 
		where store_number = #{storeNumber}
	</delete>
	
	<delete id="deleteStoreBuyFromHost" parameterType="_int">
		delete from tbl_buy
		where store_number = #{storeNumber}
	</delete>
	
	<delete id="deleteStoreReportFromHost" parameterType="_int">
		delete from tbl_report_store
		where report_store_number = #{storeNumber}
	</delete>

	
	<!-- 게시글 불러오기 -->
	<select id="showSnsPost" parameterType="map" resultType="SnsPostVO">
	select ts.sns_number , ts.sns_title , ts.sns_content , sns_date,
	count(tsl.sns_number) as like_cnt,
	tc.channel_name ,
	tcf.channel_file_system_name ,
	ts.member_number
	from tbl_sns ts
	left join tbl_sns_like tsl
	on ts.sns_number = tsl.sns_number
	left join tbl_member tm
	on ts.member_number = tm.member_number
	left join tbl_channel tc
	on tm.member_number = tc.member_number
	left join tbl_channel_file tcf
	on tc.channel_number = tcf.channel_number
	where ts.sns_number = #{snsNumber}
	group by 
	tc.channel_name ,
	tcf.channel_file_system_name,
	ts.sns_number
	</select>
	
	
	<!-- 댓글 읽어오기 -->
	<select id="snsCommentList" parameterType="map"
		resultType="SnsCommentVO">
		select ts.sns_number , tsc.sns_comment_number , tsc.sns_comment_content ,
		tm.member_nickname , tc.channel_name  ,tsc.member_number ,
		tsc.sns_comment_date,
		tcf.channel_file_system_name 
		from tbl_sns ts left join tbl_sns_comment tsc
		on ts.sns_number = tsc.sns_number
		left join tbl_member tm
		on tsc.member_number = tm.member_number
		left join tbl_channel tc
		on tm.member_number = tc.member_number
		left join tbl_channel_file tcf 
		on tc.channel_number = tcf.channel_number 
		where ts.sns_number = #{snsNumber}
	</select>

	<insert id="snsWrite" parameterType="SnsDTO">
		insert into tbl_sns
		(sns_title, sns_content, member_number)
		values(#{snsTitle}, #{snsContent}, #{memberNumber})
	</insert>
	
	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>

	<!-- 댓글 작성 -->
	<insert id="snsCommentInsert" parameterType="snsCommentDTO">
		insert into tbl_sns_comment
		(sns_comment_content,sns_number, member_number)
		values(#{snsCommentContent},  #{snsNumber}, #{memberNumber})
	</insert>
	
	
	
	<!-- 댓글 삭제 -->
	<delete id="snsCommentDelete" parameterType="_int">
		delete from tbl_sns_comment
		where sns_comment_number= #{snsCommentNumber}
	</delete>
	
	
	
	<!-- 댓글 수정 -->
	<update id="snsCommentUpdate" parameterType="snsCommentDTO">
		update tbl_sns_comment
		set sns_comment_content= #{snsCommentContent}
		where sns_comment_number= #{snsCommentNumber}
	</update>
	
	<select id="snsFile" parameterType="_int" resultType="string">
		select sns_file_system_name, sns_number from tbl_sns_file 
		where sns_number = #{snsNumber}
	</select>
	
	<select id="storeFile" parameterType="_int" resultType="string">
		select store_file_system_name, store_number from tbl_store_file 
		where store_number = #{storeNumber}
	</select>
	
	<!-- 전체 store 게시글 수  -->
	<select id="getStoreTotal" resultType="_int" parameterType="_int">
		select count(store_number) from tbl_store ts 
		where member_number = #{memberNumber}
	</select>
	
	
	<!-- sns store탭 게시글 불러오기 -->
	<select id="storePostInfo" parameterType="map" resultType="SnsStoreVO">
		select ts.store_number , ts.store_title as storeTitle, ts.store_date as
		storeDate, ts.store_view_cnt as storeViewCnt,
		count(tsl.store_number) as likeCnt,
		(select store_file_system_name  from tbl_store_file tsf
  	 	where store_number= ts.store_number
  	 	limit 0, 1) store_file_system_name 
		from tbl_store ts
		left join tbl_store_like tsl
		on ts.store_number = tsl.store_number
		where ts.member_number = #{memberNumber}
		group by ts.store_number , ts.store_title , ts.store_date ,
		ts.store_view_cnt
		order by ts.store_date desc
	</select>
	
	
	<!-- sns store탭 게시글 1개 읽어오기 -->
	<select id="showStoreInfo" parameterType="_int" resultType="snsStoreVO">
		select ts.store_title, ts.store_number, ts.store_content,
		ts.store_date, th.hashtag_name, ts.store_view_cnt from tbl_store ts 
		join tbl_hashtag th 
		on ts.hashtag_number = th.hashtag_number
		where ts.store_number = #{storeNumber}
	</select>
	
	<select id="showStoreLikeCnt" parameterType="_int" resultType="_int">
		select count(store_number) from tbl_store_like
		where store_number  = #{storeNumber}
	</select>
	
	<select id="showStoreCommentCnt" parameterType="_int" resultType="_int">
		select count(store_number) from tbl_store_comment 
		where store_number  = #{storeNumber}
	</select>
	
	<!-- store 댓글 읽어오기 -->
	<select id="snsStoreCommentList" parameterType="map"
		resultType="SnsStoreCommentVO">
		select ts.store_number , tsc.store_comment_number , tsc.store_comment_content ,
		tm.member_nickname , tc.channel_name  ,tsc.member_number ,
		tsc.store_comment_date,
		tcf.channel_file_system_name
		from tbl_store ts left join tbl_store_comment tsc
		on ts.store_number = tsc.store_number
		left join tbl_member tm
		on tsc.member_number = tm.member_number
		left join tbl_channel tc
		on tm.member_number = tc.member_number
		left join tbl_channel_file tcf 
		on tc.channel_number = tcf.channel_number 
		where ts.store_number = #{storeNumber}
	</select>
	
	<!-- store 댓글 작성 -->
	<insert id="snsStoreCommentInsert" parameterType="snsStoreCommentVO">
		insert into tbl_store_comment
		(store_comment_content,store_number, member_number)
		values(#{storeCommentContent},  #{storeNumber}, #{memberNumber})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="snsStoreCommentDelete" parameterType="_int">
		delete from tbl_store_comment
		where store_comment_number= #{storeCommentNumber}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="snsStoreCommentUpdate" parameterType="snsStoreCommentVO">
		update tbl_store_comment
		set store_comment_content= #{storeCommentContent}
		where store_comment_number= #{storeCommentNumber}
	</update>
	
	<!-- 좋아요 업데이트 -->
	<insert id="updateStoreLikeCnt" parameterType="snsStoreVO">
		insert into tbl_store_like
		(store_number, member_number)
		values(#{storeNumber}, #{memberNumber})
	</insert>
	
	<delete id="deleteStoreLikeCnt" parameterType="snsStoreVO">
		delete from tbl_store_like
		where store_number = #{storeNumber}  and member_number= #{memberNumber}
	</delete>
	
	<select id="ifLiked" parameterType="map" resultType="_int">
		select count(ts.store_number) from tbl_store ts 
	 	left join tbl_store_like tsl 
	 	on ts.store_number = tsl.store_number 
	 	where tsl.store_number = #{storeNumber} and tsl.member_number = #{memberNumber}
	</select>

	<!-- 신고하기 -->
	<insert id="reportPost" parameterType="reportSnsDTO">
		insert into tbl_report_sns
		(report_title, report_content, report_member_number, report_sns_number)
		values(#{reportTitle}, #{reportContent}, #{reportMemberNumber}, #{reportSnsNumber})
	</insert>
	
	<update id="updatePost" parameterType="snsDTO">
		update tbl_sns
		set sns_title=#{snsTitle}, sns_content=#{snsContent}
		where sns_number=#{snsNumber}
	</update>
	
	<insert id="reportStorePost" parameterType="reportStoreDTO">
		insert into tbl_report_store
		(report_title, report_content, report_member_number, report_store_number)
		values(#{reportTitle}, #{reportContent}, #{reportMemberNumber}, #{reportStoreNumber})
	</insert>
	
</mapper>